  <button phx-click="add">acc</button>

  <hr />

  <%= for {key, value} <- @counters do %>
  Counter <%= key %>: <%= value %>
  <button phx-click="inc" phx-value-counter="<%= key %>">inc</button>
  <button phx-click="dec" phx-value-counter="<%= key %>">dec</button>
  <button phx-click="zer" phx-value-counter="<%= key %>">zerar</button>
  <hr />

  <% end %>
