.invalid-feedback {
  height: 20px;
  margin-left: 16px;
  position: relative;
  color: $color2;

  i {
    color: $color2 !important;
    margin: 0;
  }

  &:hover span {
    opacity: 1;
    visibility: visible;
  }

  span{
    width: 160px;
    background: lighten($color2, 20);
    padding: 8px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.4s;
    visibility: hidden;

    position: absolute;
    bottom: calc(100%);
    left: 21%;
    transform: translateX(-50%);

    color:  $color2;

    &::before{
      border-color: lighten($color2, 20) transparent;
    }

    &::before {
      content: '';
      border-style: solid;
      border-color: lighten($color2, 20) transparent;
      border-width: 6px 6px 0 6px;
      top: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
  }
}
