<header>
  <div class="header-content">
    <h1>DoctorSchedule</h1>

    <div class="doctor-info">
      <img src="<%= Routes.static_path(DoctorScheduleWeb.Endpoint, "/images/empty_user.png")%>" alt="Dr. Eneias" />
      <div>
        <span>Welcome</span>
        <strong><a href="#"><%= @current_user.first_name %> <%= @current_user.last_name %></a></strong>
      </div>
    </div>

    <a href="#">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
</header>
