<h1>Consultancies scheduleed</h1>
<p>
  <span>Today | </span>
  <span>Day 30 | </span>
  <span>Tuesday</span>
</p>
<div class="next-apointment">
  <strong>Next Patient</strong>
  <div>
    <img src="<%= Routes.static_path(DoctorScheduleWeb.Endpoint, "/images/empty_user.png")%>" alt="Dr. Eneias" />
    <strong>Joao da Silva</strong>
    <span>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      08:00
    </span>
  </div>
</div>
