  <div class="patient">
    <span>
      <i class="fa fa-clock-o"></i>
      16:00
    </span>

    <div class="patient-info">
      <img src="<%= Routes.static_path(DoctorScheduleWeb.Endpoint, "/images/empty_user.png")%>"
        alt="Dr. Eneias" />
      <strong>Jose Da Silva</strong>
    </div>
  </div>
