<style>
  .message-content {
    font-size: 20px;
    line-height: 30px;
  }
</style>
<div class="message-content">
  <p>Ola!. <%= @data.name %>!!! </p>
  <p>Voce Solicitou uma troca de senha, correto? </p>
  <p>Caso seja um engano, ignore este E-mail </p>
  <p>Se nao clique no link abaixo para definir uma nova Senha!</p>
  <p><a href="<%=@data.url %>">Resetar Senha<a /></p>
  <p>Obrigado!!
    <strong>Doctor Schedule Team!!</strong>
  </p>
</div>
