.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .signin-signup{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;

    form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0rem 5rem;
      transition: all 0.2s 0.7s;
      overflow: hidden;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      .title{
        font-size: 2.2rem;
        color: $color1;
        margin-bottom: 10px;
      }

      &#sign-in-form{
        z-index: 2;
      }

      &#sign-up-form{
        opacity: 0;
        z-index: 1;
      }

      @import "input-field";
    }
  }
}
